Flask==2.3.3
flask-cors==4.0.0
Werkzeug==2.3.7
torch==2.0.1
torchvision==0.15.2
tensorflow==2.13.0
tensorflow-hub==0.13.0
opencv-python==4.8.1.78
pandas==2.0.3
numpy==1.24.3
openai==0.28.1
pytorchvideo==0.1.5
Pillow==10.0.1
python-dotenv==1.0.0
requests==2.31.0 